<%= form_for @tweet do |f| %>
  


  <div class="field">
    <%= f.label :ゲームの種類 %>
    <%= f.select :shurui, 
    [["リングゲーム", "リングゲーム"],
     ["トーナメント", "トーナメント"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :レート %>
    <%= f.text_field :rate, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :人数 %>
    <%= f.number_field :ninnzuu, :size => 10 %>
  </div>


  <div class="field">
    <%= f.label :ポジション  %>
    <%= f.select :position, 
    [["BB", "BB"], 
    ["SB", "SB"], 
    ["BTN", "BTN"],
    ["CO", "CO"],
    ["HJ", "HJ"],
    ["MP2", "MP2"],
    ["MP1", "MP1"],
    ["UTG+1", "UTG+1"],
    ["UTG", "UTG"]], include_blank: "選択して下さい" %>
  </div>
 <div class="field">
    <%= f.label :ハンド入力（スートは書かないで！） %>
    <%= f.text_field :myhand, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :MYハンドスート入力欄1 %>
    <%= f.select :mark, 
    [["♠", "♠"], 
    ["♡", "♡"], 
    ["◇", "◇"],
    ["♣", "♣"]], include_blank: "選択して下さい" %>
    <%= f.label :MYハンドスート入力欄2 %>
    <%= f.select :mark, 
    [["♠", "♠"], 
    ["♡", "♡"], 
    ["◇", "◇"],
    ["♣", "♣"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :ハンドヒストリー記入欄（プリフロップ） %>
    <%= f.text_field :turn1, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :自分のアクション %>
    <%= f.select :action1, 
    [["チェック", "チェック"], 
    ["ベット", "ベット"], 
    ["コール", "コール"],
    ["フォールド", "フォールド"], 
    ["レイズ", "レイズ"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :自分のアクション %>
    <%= f.select :action2, 
    [["チェック", "チェック"], 
    ["ベット", "ベット"], 
    ["コール", "コール"],
    ["フォールド", "フォールド"], 
    ["レイズ", "レイズ"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :自分のアクション %>
    <%= f.select :action3, 
    [["チェック", "チェック"], 
    ["ベット", "ベット"], 
    ["コール", "コール"],
    ["フォールド", "フォールド"], 
    ["レイズ", "レイズ"]], include_blank: "選択して下さい" %>
  </div>
 <div class="field">
    <%= f.label :フロップ１枚目記入欄 %>
    <%= f.select :frop1, 
    [["A", "A"], 
    ["K", "K"], 
    ["Q", "Q"],
    ["J", "J"], 
    ["10", "10"],
    ["9", "9"], 
    ["8", "8"],
    ["7", "7"],
    ["6", "6"], 
    ["5", "5"],
    ["4", "4"],
    ["3", "3"], 
    ["2", "2"]], include_blank: "選択して下さい" %>
    <%= f.label :マーク記入欄 %>
    <%= f.select :frop1m,
    [["♠", "♠"], 
    ["♡", "♡"], 
    ["◇", "◇"],
    ["♣", "♣"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :フロップ２枚目記入欄 %>
    <%= f.select :frop2,
    [["A", "A"], 
    ["K", "K"], 
    ["Q", "Q"],
    ["J", "J"], 
    ["10", "10"],
    ["9", "9"], 
    ["8", "8"],
    ["7", "7"],
    ["6", "6"], 
    ["5", "5"],
    ["4", "4"],
    ["3", "3"], 
    ["2", "2"]], include_blank: "選択して下さい" %>
    <%= f.label :マーク記入欄 %>
    <%= f.select :frop2m,
    [["♠", "♠"], 
    ["♡", "♡"], 
    ["◇", "◇"],
    ["♣", "♣"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :フロップ３枚目記入欄 %>
    <%= f.select :frop3,
    [["A", "A"], 
    ["K", "K"], 
    ["Q", "Q"],
    ["J", "J"], 
    ["10", "10"],
    ["9", "9"], 
    ["8", "8"],
    ["7", "7"],
    ["6", "6"], 
    ["5", "5"],
    ["4", "4"],
    ["3", "3"], 
    ["2", "2"]], include_blank: "選択して下さい" %>
    <%= f.label :マーク記入欄 %>
    <%= f.select :frop3m,
    [["♠", "♠"], 
    ["♡", "♡"], 
    ["◇", "◇"],
    ["♣", "♣"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :ハンドヒストリー記入欄（フロップ） %>
    <%= f.text_field :turn2, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :自分のアクション %>
    <%= f.select :action4, 
    [["チェック", "チェック"], 
    ["ベット", "ベット"], 
    ["コール", "コール"],
    ["フォールド", "フォールド"], 
    ["レイズ", "レイズ"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :自分のアクション %>
    <%= f.select :action5, 
    [["チェック", "チェック"], 
    ["ベット", "ベット"], 
    ["コール", "コール"],
    ["フォールド", "フォールド"], 
    ["レイズ", "レイズ"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :ターンカード記入欄 %>
    <%= f.select :turn,
    [["A", "A"], 
    ["K", "K"], 
    ["Q", "Q"],
    ["J", "J"], 
    ["10", "10"],
    ["9", "9"], 
    ["8", "8"],
    ["7", "7"],
    ["6", "6"], 
    ["5", "5"],
    ["4", "4"],
    ["3", "3"], 
    ["2", "2"]], include_blank: "選択して下さい" %>
    <%= f.label :マーク記入欄 %>
    <%= f.select :turnm,
    [["♠", "♠"], 
    ["♡", "♡"], 
    ["◇", "◇"],
    ["♣", "♣"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :ハンドヒストリー記入欄（ターン） %>
    <%= f.text_field :turn3, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :自分のアクション %>
    <%= f.select :action6, 
    [["チェック", "チェック"], 
    ["ベット", "ベット"], 
    ["コール", "コール"],
    ["フォールド", "フォールド"], 
    ["レイズ", "レイズ"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :自分のアクション %>
    <%= f.select :action7, 
    [["チェック", "チェック"], 
    ["ベット", "ベット"], 
    ["コール", "コール"],
    ["フォールド", "フォールド"], 
    ["レイズ", "レイズ"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :リバーカード記入欄 %>
    <%= f.select :river,
    [["A", "A"], 
    ["K", "K"], 
    ["Q", "Q"],
    ["J", "J"], 
    ["10", "10"],
    ["9", "9"], 
    ["8", "8"],
    ["7", "7"],
    ["6", "6"], 
    ["5", "5"],
    ["4", "4"],
    ["3", "3"], 
    ["2", "2"]], include_blank: "選択して下さい" %>
    <%= f.label :マーク記入欄 %>
    <%= f.select :riverm,
    [["♠", "♠"], 
    ["♡", "♡"], 
    ["◇", "◇"],
    ["♣", "♣"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :ハンドヒストリー記入欄（リバー） %>
    <%= f.text_field :turn4, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :自分のアクション %>
    <%= f.select :action8, 
    [["チェック", "チェック"], 
    ["ベット", "ベット"], 
    ["コール", "コール"],
    ["フォールド", "フォールド"], 
    ["レイズ", "レイズ"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :自分のアクション %>
    <%= f.select :action9, 
    [["チェック", "チェック"], 
    ["ベット", "ベット"], 
    ["コール", "コール"],
    ["フォールド", "フォールド"], 
    ["レイズ", "レイズ"]], include_blank: "選択して下さい" %>
  </div>
  <div class="field">
    <%= f.label :自分のアクション %>
    <%= f.select :action10, 
    [["チェック", "チェック"], 
    ["ベット", "ベット"], 
    ["コール", "コール"],
    ["フォールド", "フォールド"], 
    ["レイズ", "レイズ"]], include_blank: "選択して下さい" %>
  </div>
  <%= f.submit "編集する" %>
  
<% end %>

<%= link_to "一覧に戻る", tweets_path %>
