<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Poker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application",type: "module", "data-turbo-track": "reload", defer: true %>
  </head>

<body>
 <header>
  <h1><span class="highlight-red">Poker</span> Hand <span class="highlight-red">Memo</span>lyzer</h1>
  <div class="header-list">
  <%= link_to "新規投稿へ", new_tweet_path %>
  <%= link_to "ホームに戻る", tweets_path %>
   <ul>
    <% if user_signed_in? %>
     <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
     <li><%= link_to "新規登録", new_user_registration_path %></li>
     <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
   </ul>
  </div>
 </header>
 <main>
  <%= yield %>
 </main>
</body>
 <footer>
      <p>© Shunta Kubogata All Rights Reserved.</p>
    </footer>
</html>
